body{
	background-color: #aaaaaa;
	background-image: url('img.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	font: 14px/1.7 "Open Sans",Helvetica,Arial,sans-serif;
	font-weight: bold;
}

header{
	text-align: center;
	font-style: algerian,calibri ;
	color: white;
	margin-top: -2.5%;

}
footer{
	display: inline-block;
	text-align: center;
	border-bottom: 2px solid white;

	color: white;
	position: absolute;
	bottom: 10px;
	left: 400px;

}


.Railgaadi {
	color: black;
	font-size: 50px;
	font-family: Arial;
	text-shadow: 0.5px 0.5px red;
	/*display: inline-block;*/
}


a{
	color:white;
	text-decoration: none;
}


a:hover{
	color:black;
	text-shadow: 0.5px 0.5px red;
	
}

.main{
	color: white;
	display:inline-block;
	margin: 35px 280px;
	/*margin-left: 50% auto: 0;*/
	position: absolute;
}

.st , .ps , .rs , .sn{
	border:2px solid black;
	margin-right: 25px;
	background-color: #696969;
	border-radius: 4px;
	box-shadow: 1px 1px red;
}


.login{
	margin-left:1300px;
	top:4%;
	position: absolute;
}


.st,.rs,.ps{
	padding:10px 40px ;

}

.sn{
	padding:10px 35px 
}

.sin,.sup{
	/*margin-top: -10%;*/
	border:2px solid black;
	padding:5px 10px;
	border-radius: 4px;
	background-color: #696969;
	box-shadow: 1px 1px green;
}
.sup a:hover,.sin a:hover{
	color:black;
	text-shadow: 1px 1px green;	
}


